<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freepath.devpath.board.vote.query.mapper.VoteMapper">

    <resultMap id="VoteDetailResultMap" type="com.freepath.devpath.board.vote.query.dto.response.VoteDetailDTO">
        <result property="voteId" column="vote_id" />
        <result property="voteTitle" column="vote_title" />
        <result property="isVoteFinished" column="is_vote_finished" />
        <result property="totalVoteCount" column="total_vote_count" />
        <result property="selectedItemId" column="selected_item_id" />

        <collection property="voteItems" ofType="com.freepath.devpath.board.vote.query.dto.response.VoteItemDTO"
                    column="vote_id" select="selectVoteItemsByBoardId"/>
    </resultMap>


    <select id="selectVoteDetail" resultMap="VoteDetailResultMap">
        SELECT
            v.vote_id,
            v.vote_title,
            v.is_vote_finished,
            (SELECT SUM(vote_count) FROM vote_item WHERE vote_id = v.vote_id) AS total_vote_count,
            (
                SELECT vh.vote_item_id
                FROM vote_history vh
                JOIN vote_item vi2 ON vh.vote_item_id = vi2.vote_item_id
                WHERE vh.user_id = #{ userId }
                AND vi2.vote_id = v.vote_id
                LIMIT 1
            ) AS selected_item_id
        FROM vote v
        WHERE v.board_id = #{ boardId }
    </select>

    <select id="selectVoteItemsByBoardId" resultType="com.freepath.devpath.board.vote.query.dto.response.VoteItemDTO">
        SELECT
        vi.vote_item_id AS voteItemId,
        vi.vote_item_title AS voteItemTitle,
        vi.vote_count AS voteCount
        FROM vote_item vi
        WHERE vi.vote_id = #{ voteId }
    </select>


</mapper>