<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freepath.devpath.report.mapper.ReportMapper">

    <resultMap id="ReportCheckWithIdMap" type="com.freepath.devpath.report.dto.response.ReportCheckWithIdDto">
        <result property="reportCheckId" column="report_check_id"/>
        <result property="reportId" column="report_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="checkedAt" column="checked_at"/>
        <result property="checkResult" column="check_result"/>
        <result property="checkReason" column="check_reason"/>
        <result property="postId" column="post_id"/>
        <result property="commentId" column="comment_id"/>
    </resultMap>

    <select id="selectAllReportChecksWithId" resultMap="ReportCheckWithIdMap">
        SELECT
        rc.report_check_id,
        rc.report_id,
        rc.admin_id,
        rc.checked_at,
        rc.check_result,
        rc.check_reason,
        r.post_id,
        r.comment_id
        FROM REPORT_CHECK rc
        JOIN REPORT r ON rc.report_id = r.report_id
        WHERE rc.check_result IS NULL
    </select>

</mapper>