<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freepath.devpath.interview.query.mapper.InterviewMapper">

    <!-- =========== ResultMap =========== -->
    <!-- 목록 조회용 InterviewRoomDto -->
    <resultMap id="InterviewRoomDtoResultMap" type="com.freepath.devpath.interview.query.dto.InterviewRoomDto">
        <result property="interviewRoomId" column="interview_room_id"/>
        <result property="userId" column="user_id"/>
        <result property="interviewCategory" column="interview_category"/>
        <result property="interviewRoomTitle" column="interview_room_title"/>
        <result property="interviewRoomStatus" column="interview_room_status"/>
        <result property="interviewRoomCreatedAt" column="interview_room_created_at"/>
    </resultMap>

    <!-- 상세 조회용 -->
    <resultMap id="InterviewRoomDetailResultMap" type="com.freepath.devpath.interview.query.dto.InterviewRoomDto" extends="InterviewRoomDtoResultMap">
        <result property="interviewRoomMemo" column="interview_room_memo"/>
    </resultMap>

    <!-- 면접 내역 -->
    <resultMap id="InterviewDetailResultMap" type="com.freepath.devpath.interview.query.dto.InterviewDetailDto">
        <result property="interviewRole" column="interview_role"/>
        <result property="interviewMessage" column="interview_message"/>
        <result property="messageCreatedAt" column="message_created_at"/>
    </resultMap>



    <!-- =========== ResultMap =========== -->
    <!-- InterviewQueryService -->
    <!-- 면접방 목록 조회 : 사용자별 -->
    <select id="selectInterviewRoomListByUserId" resultMap="InterviewRoomDtoResultMap">
        SELECT
            interview_room_id,
            user_id,
            interview_category,
            interview_room_title,
            interview_room_status,
            interview_room_created_at
        FROM INTERVIEW_ROOM
        WHERE user_id = #{userId}
        ORDER BY interview_room_id DESC
    </select>

    <!-- 면접방 목록 조회 : 사용자&카테고리별 -->
    <select id="selectInterviewRoomListByUserIdAndCategory" resultMap="InterviewRoomDtoResultMap">
        SELECT
            interview_room_id,
            user_id,
            interview_category,
            interview_room_title,
            interview_room_status,
            interview_room_created_at
        FROM INTERVIEW_ROOM
        WHERE user_id = #{userId}
        AND interview_category = #{category}
        ORDER BY interview_room_id DESC
    </select>

    <!-- 면접방 상세 조회 -->
    <select id="selectInterviewRoomByRoomId" resultMap="InterviewRoomDetailResultMap">
        SELECT
            interview_room_id,
            user_id,
            interview_category,
            interview_room_title,
            interview_room_status,
            interview_room_memo,
            interview_room_created_at
        FROM INTERVIEW_ROOM
        WHERE interview_room_id = #{interviewRoomId}
    </select>

    <!-- 면접 내역 조회 -->
    <select id="selectInterviewListByRoomId" resultMap="InterviewDetailResultMap">
        SELECT
            interview_role AS interviewRole,
            interview_message AS interviewMessage,
            message_created_at AS messageCreatedAt
        FROM INTERVIEW
        WHERE interview_room_id = #{interviewRoomId}
        ORDER BY interview_id ASC
    </select>

    <!-- 총평 조회 -->
    <select id="selectInterviewSummaryByRoomId" resultType="string">
        SELECT interview_message
        FROM interview
        WHERE interview_room_id = #{roomId}
        AND interview_role = 'AI'
        AND interview_message LIKE '[총평]%'
        ORDER BY interview_id DESC
        LIMIT 1
    </select>


    <!-- InterviewQueryAdminService -->
    <!-- 관리자용 면접 목록 조회 : 전체 -->
    <select id="selectAllInterviewRooms" resultMap="InterviewRoomDtoResultMap">
        SELECT
            interview_room_id,
            user_id,
            interview_category,
            interview_room_title,
            interview_room_status,
            interview_room_created_at
        FROM INTERVIEW_ROOM
        ORDER BY interview_room_id DESC
    </select>

</mapper>