<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freepath.devpath.board.post.query.mapper.PostMapper">

    <!-- 게시글 정보 + 첨부파일 URL 리스트 매핑 -->
    <resultMap id="PostWithAttachmentsMap" type="com.freepath.devpath.board.post.query.dto.response.PostDetailDto">
        <result property="nickname" column="nickname" />
        <result property="boardTitle" column="board_title" />
        <result property="boardContents" column="board_contents" />
        <result property="boardCreatedAt" column="board_created_at" />
        <result property="boardModifiedAt" column="board_modified_at" />
        <result property="isBoardDeleted" column="is_board_deleted" />
        <!-- List<String> s3Urls: 서브 쿼리로 첨부파일 리스트 주입 -->
        <collection property="s3Urls" ofType="string" column="board_id" select="selectAttachmentsByBoardId" />
    </resultMap>

    <!-- 게시글 조회 쿼리 -->
    <select id="selectPostById" resultMap="PostWithAttachmentsMap">
        SELECT
        u.nickname,
        b.board_title,
        b.board_contents,
        b.board_created_at,
        b.board_modified_at,
        b.is_board_deleted,
        b.board_id
        FROM board b
        JOIN users u ON b.user_id = u.user_id
        WHERE b.board_id = #{ boardId }
        AND b.is_board_deleted = 'N'
    </select>


    <!-- 첨부파일 URL 리스트 조회 쿼리 (List<String>) -->
    <select id="selectAttachmentsByBoardId" resultType="string">
        SELECT
            s3_url
        FROM attachment
        WHERE board_id = #{ board_id }
    </select>



    <select id="selectPostListByFilter" resultType="com.freepath.devpath.board.post.query.dto.response.PostDto">
        SELECT
        b.board_id,
        b.board_title,
        u.nickname,
        b.board_created_at
        FROM board b
        JOIN users u ON b.user_id = u.user_id
        WHERE b.is_board_deleted = 'N'

        <if test="categoryId != null">
            AND b.board_category = #{categoryId}
        </if>

        <if test="keyWord != null">
            AND b.board_title LIKE CONCAT('%', #{keyWord}, '%')
        </if>

        <if test="nickname != null">
            AND u.nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>

        <if test="startDate != null">
            AND DATE(b.board_created_at) &gt;= #{startDate}
        </if>

        <if test="endDate != null">
            AND DATE(b.board_created_at) &lt;= #{endDate}
        </if>

        ORDER BY b.board_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countPostListByFilter" resultType="int">
        SELECT COUNT(*)
        FROM board b
        JOIN users u ON b.user_id = u.user_id
        WHERE b.is_board_deleted = 'N'

        <if test="categoryId != null">
            AND b.board_category = #{categoryId}
        </if>

        <if test="keyWord != null">
            AND b.board_title LIKE CONCAT('%', #{keyWord}, '%')
        </if>

        <if test="nickname != null">
            AND u.nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>

        <if test="startDate != null">
            AND DATE(b.board_created_at) &gt;= #{startDate}
        </if>

        <if test="endDate != null">
            AND DATE(b.board_created_at) &lt;= #{endDate}
        </if>
    </select>




    <select id="selectCategoryListByParentCategoryId" resultType="com.freepath.devpath.board.post.query.dto.response.CatetgoryDto">
        SELECT
        board_category_id,
        board_category_name
        FROM
        board_category
        WHERE
        parent_board_category_id = #{ categoryId }
    </select>



    <select id="selectPostListByUserId" parameterType="map"
            resultType="com.freepath.devpath.board.post.query.dto.response.PostDto">
        SELECT
        b.board_id,
        b.board_title,
        u.nickname,
        b.board_created_at
        FROM board b
        JOIN users u ON b.user_id = u.user_id
        WHERE b.is_board_deleted = 'N'
        AND b.user_id = #{userId}
        ORDER BY b.board_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countMyPostList" parameterType="map"
            resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE is_board_deleted = 'N'
        AND user_id = #{userId}
    </select>


</mapper>